#info {
    position: absolute;
    z-index: 10;
    bottom: 0;
    left: 0;
    width: min(15vmin,75px);
    padding: 10px 0;
    height: min(15vmin,75px); 
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: #00884a;
    color: #ffffff;
    font-size: 2rem;
  }

#infoButton {
    background: transparent;
    border: none;
    z-index: 10;
  }

#scan {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
    padding: 10px 0;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
    background-color: rgba(200, 200, 200, 0.3);
    color: #ffffff;
    font-size: 2rem;
  }
  
#author {
    color: grey;
  }

#author a {
    color: grey;
  }

.modal-header {
  display: block;

  align-items: center;
}

.colored-bar {
  margin-top: 0;
  padding-top: 0;
  width: 100%;
  height: 10px;
  object-fit: fill;
}


.header-title {
  flex: 1;
  text-align: center;
}
